*,
*::before,
*::after {
  box-sizing: border-box;
}
/* GLOBAL-SETTINGS */
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}
ul,
ol {
  list-style: none;
  padding-left: 0; 
  margin: 0 auto;  
}
h1, h2, h3, h4, h5, h6, p { 
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
}
.container {
  max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
  display: block;
}

/* HEADER */
header {
  border-bottom: 1px solid #e7e9fc;
}
.top .container {
  display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
margin-right: 76px;
}


.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
}
.list-nav {
  display: flex;
  gap: 40px;
}
.navigator-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.navigator-page:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigator-page:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigator-page:focus {
  color:  #404bbf;
}
.contact-info {
  font-style: normal;
  display: flex;
}
.contact-list {
  display: flex;
    gap: 40px;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
/* MAIN-SECTION */
.wrap {
  background: #2e2f42;
  padding: 188px 0;

}
.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.push {
  font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}
.push:hover {
  background: #404bbf;
}
.push:focus {
  background-color: #404BBF;
  cursor: pointer;
}
.push-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
/* SECTION 2 */
.hid {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-section {
  padding: 120px 0;
}
.list-advantages {
  display: flex;
  gap: 24px;
}
.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-page {
  flex-basis: calc((100% - 72px) / 4);
}
.advantages-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECTION 3 */
.container-team {
  background: #f4f4fd;
  padding: 120px 0 120px 0;

}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-mate-descr {
  padding: 32px 0;
}
.team-box {
  background: #fff;
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-mate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-mate-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* PORTFOLIO */
.container-portfolio {
  padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.app {
  background: #fff;
  width: calc((100% - 48px) / 3);
}
.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 8px;
}
.app-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.app-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* FOOTER */
footer {
  padding: 100px 0;
}
.wrap-downside {
 background: #2e2f42;
}
.logo-downside {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
    margin-bottom: 16px;
}
.logo-studio-downside {
  color: #f4f4fd;
}
.text-downside {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
