*,
*::before,
*::after {
  box-sizing: border-box;
}
/* GLOBAL-SETTINGS */
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}
ul,
ol {
  list-style: none;
  padding-left: 0; 
  margin: 0 auto;  
}
h1, h2, h3, h4, h5, h6, p { 
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
}
.container {
  max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
  display: block;
}

/* HEADER */
.top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top .container {
  display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
margin-right: 76px;
}


.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
}
.list-nav {
  display: flex;
  gap: 40px;
}
.navigator-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigator-page.active {
  color: #404bbf;
}
.navigator-page.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
  transform-origin: bottom left;
}
.navigator-page:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigator-page:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigator-page:focus {
  color:  #404bbf;
}
.contact-info {
  font-style: normal;
  display: flex;
}
.contact-list {
  display: flex;
    gap: 40px;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
/* MAIN-SECTION */
.wrap {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  }
  .wrap .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
 

.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.push {
  font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.push:hover {
  background: #404bbf;
}
.push:focus {
  background-color: #404BBF;
  cursor: pointer;
}
.push-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
/* SECTION 2  About*/
 
 .about-logo{
  display: flex;
   align-items: center;
   justify-content: center;
   height: 112px;
   background-color: #f4f4fd;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   margin-bottom: 8px;
   }
 
   .icon-logo{
     fill: #f4f4fd;
   }

.hid {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-section {
  padding: 120px 0;
}
.list-advantages {
  display: flex;
  gap: 24px;
}
.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-page {
  flex-basis: calc((100% - 72px) / 4);
}
.advantages-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECTION 3 Our Team */

.container-team {
  background: #f4f4fd;
  padding: 120px 0 120px 0;

}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-mate-descr {
  padding: 32px 0;
}
.team-box {
  background: #fff;
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-mate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-mate-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 24px;
  margin: 32px 16px 0;
  justify-content: center;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .link:hover {
  background-color: #404bbf;
}

.social-list .link:focus {
  background-color: #404bbf;
}

.social-list .icon {
  fill: #f4f4fd;
}

.social-list .link:hover .icon {
  fill: #4d5ae5;
}

/* PORTFOLIO */
.container-portfolio {
  padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.app:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app {
  background: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app:hover .portfolio-text  {
  transform: translateY(0%);
}

.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up {
  position: relative;
  overflow: hidden;
}


.app-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.app-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* FOOTER */
.wrap-downside {
  background-color: #2e2f42;
  padding: 100px 0;
}

.wrap-downside .container {
  display: flex;
  align-items: baseline;
}

.down-logo {
  width: 264px;
  margin-right: 120px;
}

.footer-logo {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3%;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-social-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 16px;
}

.footer-social-links-list {
  display: flex;
  gap: 16px;
}

.footer-social-links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-list .link:hover {
  background-color: #31d0aa;
}

.footer-social-links-list .link:focus {
  background-color: #31d0aa;
}

.footer-social-links-list .icon {
  fill: #f4f4fd;
} 